* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
header {
  height: 48px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #fff;
}
header ul,
.loginBtn {
  display: none;
}
header .menubtn {
  color: white;
  background-color: transparent;
  height: auto;
  margin: 16px;
  border: none;
  float: right;
  cursor: pointer;
}
header .dropbtn .fa-bars {
  font-size: 1.6em;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #616161;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  display: none;
}

.change .bar2 {
  display: none;
}

.change .bar3 {
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 0.9em;
  background: #000;
  margin: 30px;
  margin-left: 30px;
  margin-top: -20px;
  letter-spacing: -0.8px;
  width: 100px;
  color: #f1f1f1;
  font-weight: 500;
  padding: 12px;
  display: block;
  transition: none;
  font-family: "Roboto Condensed", sans-serif;
}

.sidenav .home {
  width: 50px;
  text-align: center;
}

.sidenav .career-coaching {
  width: 140px;
  text-align: center;
}

.sidenav .quiz {
  width: 90px;
  text-align: center;
}

.sidenav .about {
  width: 60px;
  text-align: center;
}

.sidenav .contact {
  width: 60px;
  text-align: center;
}

.sidenav .login {
  width: 50px;
  text-align: center;
}

.sidenav span {
  font-size: 1.2em;
}

.sidenav a:hover {
  color: #f1f1f1;
}

header .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-weight: 100;
  font-size: 1.7em;
  margin: 16px;
  margin-right: -7px;
  color: #818181;
  display: none;
  text-decoration: none;
}

.underline {
  margin: auto;
  margin-top: 70px;
  width: 85%;
  height: 1px;
  background-color: rgb(226, 226, 226);
}
.image-container {
  height: auto;
  width: 100%;
  margin: 50px 40px;
  background-color: rebeccapurple;
}

.image-container img {
  height: auto;
  width: 100%;
}
